@import "../styles/colors";
@import '../styles/mixins';

.root {
  background-color: $brand;
  padding: 16px;
  color: white;

  @include desktop {
    flex: 1;
  }
}

.title {
  font-size: 24px;
  line-height: 32px;
}

.inner {
  display: flex;
  display: flex;
  flex-flow: row wrap;
}

.photo {
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin-right: 8px;
  border: 1px solid;
  border-color: #fff;
  padding: 8px;
  flex: 0 0 auto;
  @include desktop {
    margin-bottom: 16px;
  }

  @include print {
    border-color: #000;
  }
}

.secondary {
  color: black;
}

.infoBlock {
  padding-bottom: 16px;
}

.value {
  color: black;
}

.label {
  text-transform: uppercase;
}
