{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "test": true,
    "expect": true,
    "describe": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": [
              "node_modules",
              "src"
            ]
          }
        }
      }
    }
  }
}
