{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "test": true,
    "expect": true,
    "describe": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": "off"
  }
}
