@import '../styles/mixins';

body {
  
}

.asideWrap {
  @include desktop {
    flex: 0 0 100px;
    height: 100%;
  }
}

.container {
  @include desktop {
    display: flex,
  }
}

.experienceTitle {

}

.content {
  padding-top: 24px;
}
