@import '../styles/mixins';

body {

}

.asideWrap {
  @include desktop {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 196px;
    height: 100%;
  }
}

.container {
  @include desktop {
    display: flex,

  }
}

.experienceTitle {

}

.content {
  padding-top: 24px;
  @include desktop {
    padding-top: 0;
    margin-left: 196px;
  }
}
